<!-- <div class="bg-gradient">
  <router-outlet></router-outlet>
</div> -->

<h1>Teste do Componente SearchBar</h1>
<div class="search-wrapper">
  <form class="example-form">
    <mat-form-field class="example-full-width"
                    appearance="fill"
                    floatLabel="never">
      <div class="search-bar">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto"
               placeholder="Busque pelo nome, CPF, agência, conta, telefone, e-mail do cliente ou número da carteira...">
      </div>
    </mat-form-field>
  </form>
  <div class="user-list-wrapper">
    <mat-autocomplete #auto="matAutocomplete"
                      [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async; let first = first"
                  [value]="option">
        <table class="user-table">
          <tr *ngIf="filteredOptionsLength > 1 && first"
              [ngClass]="{'first-row': first}">
            <th>{{ option.nome }}</th>
            <th>{{ option.cpf }}</th>
            <th>{{ option.codigoCarteira }}</th>
            <th>{{ option.nomeCarteira }}</th>
            <th>{{ option.data }}</th>
          </tr>
          <tr *ngIf="!first">
            <td>{{ option.nome }}</td>
            <td>{{ option.cpf }}</td>
            <td>{{ option.codigoCarteira }}</td>
            <td>{{ option.nomeCarteira }}</td>
            <td>{{ option.data }}</td>
          </tr>
        </table>
      </mat-option>
    </mat-autocomplete>
  </div>
</div>
